/*styles*/
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	text-decoration: none;
	list-style: none;
	scroll-behavior:smooth;
}
body{
	background-color: #0d0d0d;
	width:100%;
	height:100%;
}

/*LOST PAGE*/
.unit-1::-moz-scrollbar{
	display:none;	
	scrollbar-width:none;
	scroll-behavior:smooth;
}
.unit-1::-webkit-scrollbar{
	display:none;	
	scrollbar-width:none;
	scroll-behavior:smooth;
}
.unit-2::-moz-scrollbar{
	display:none;	
	scrollbar-width:none;
	scroll-behavior:smooth;
}
.unit-2::-webkit-scrollbar{
	display:none;	
	scrollbar-width:none;
	scroll-behavior:smooth;
}
.unit-1{
    background-color:#000000;
    height:100%;
    width:100%;
	background-image:url('https://i.ibb.co/R4MHNFJ/SFBG.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.intro-1{
	width:100%;
	height:100%;
	min-height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
}
.intro-1 h3{
	display:none;
}
.intro-1 h1{
	text-indent:1.25em;
	text-align:center;
	color:#ffffff;
	font-size:2.2em;
	font-family:'orbitron',verdana,sans-serif;
	word-spacing:5em;
	opacity:0;
	letter-spacing:0.6em;
	animation: textin 2.4s ease 0.2s forwards;
}
@keyframes textin {
	from{
		opacity:0%;
		word-spacing:5em;
	}

	to{
		word-spacing:3em;
		opacity:100%;
	}
}
.intro-1 .cubic{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	position:absolute;
	text-align:center;
}
.icon07{
	width:235px;
	height:235px;
	position:relative;
	animation: fadeup 2.2s ease 0.3s forwards;
	opacity:0;
}
@keyframes fadeup {
	from{
		opacity:0%;
		top:3em;
	}

	to{
		opacity:100%;
		top:-0.5em;
		/*-2em*/
	}
}
.intro-1 .abox{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	text-align:center;
	align-items:center;
	position:absolute;
}
.explore{
	font-size:0.5em;
	font-family:'orbitron', verdana;
	font-weight: bold;
	padding:7px;
	position: relative;
	top:30em;
	letter-spacing:0.5px;
	text-transform: uppercase;
	transition: 0.5s;
	color:#ffffff;
	animation: textfade 2s ease 3s forwards;
	opacity:0;
}
@keyframes textfade {
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}	
}
.explore:hover{
	transition: 0.5s;
	text-shadow:0px 0px 1.5px #fafdef;
	cursor: pointer;
}

/*EXTRA CODE PAGE*/
.unit-2::-webkit-scrollbar{
	display:none;	
	scrollbar-width:none;
	scroll-behavior: smooth;
}
.unit-2{
	background-color:#000000;
    height:100%;
    width:100%;
	background-image:url('https://i.ibb.co/R4MHNFJ/SFBG.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.intro-2{
	width:100%;
	height:100%;
	min-height:100vh;
	display:flex;
	justify-content: center;
	align-items:center;
	text-align:center;
}
.intro-2 .he2{
		text-align:center;
		color:#ffffff;
		text-indent:1.25em;
		font-size:2.2em;
		font-family:'orbitron',verdana,sans-serif;
		position:absolute;
		justify-self:center;
		align-self:center;
		cursor: default;
		word-spacing:3em;
		opacity:100%;
		letter-spacing:0.6em;
		animation: textout 2.4s ease 0.5s forwards;
}
@keyframes textout {
	from{
		opacity:100%;
		word-spacing:3em;
	}

	to{
		word-spacing:5em;
		opacity:0%;
	}
}
.intro-2 .cubix{
		width:100%;
		height:100%;
		display:flex;
		justify-content:center;
		align-items: center;
		position:absolute;
		cursor:default;
	}
	.logo07{
		width:235px;
		height:235px;
		position: relative;
		animation: jetup 2.2s ease 0.3s forwards;
		opacity:100%;
		top:-0.5em;
	}
	@keyframes jetup {
		from{
			opacity:100%;
			top:-0.5em;
		}

		to{
			opacity:0%;
			top:-3em;
		}
	}
	.he2, .cubix{
		animation: vanish 1.5s ease 0.8s forwards;
		opacity:100%;
	}
	.ablok{
		width:100%;
		height:100%;
		display:flex;
		justify-content:center;
		text-align:center;
		align-items:center;
		position:absolute;
		animation: vanish 1s ease 0.1s forwards;
		opacity:100%;
	}
	@keyframes vanish {
		from{
			opacity:100%;
		}
		to{
			opacity:0%;
		}
	}
	.unexplore{
		cursor:default;
		font-size:0.5em;
		font-family:'orbitron', verdana;
		font-weight: bold;
		letter-spacing:0.5px;
		text-transform: uppercase;
		color:#ffffff;
		position: relative;
		top:30em;
	}
	
	/*MEDIA QUEREY CSS TEST*/
	@media (orientation:portrait) and (min-width:315px) {
		.unit-1::-webkit-scrollbar{
			overflow-x:hidden;
		}
		.intro-1 h1{
			display:none;
		}
		.intro-1 h3{
			text-align: center;
			text-align-last:c;
			letter-spacing:0;
			display:flex;
			flex-direction: column;
			color:#ffffff;
			font-size:1.5em;
			font-family:'orbitron',verdana,sans-serif;
		}
		h3 .word1{
			animation: righty 3s ease 700ms forwards;
			position: relative;
			letter-spacing:1.5px;
			opacity:0;
		}
		@keyframes righty {
			0%{
				opacity:0;
				right:3em;
			}
			50%{
				opacity:1;
				right:0em;
			}
			100%{
				opacity:0;
				right:0em;
			}
		}
		.word2{
			animation: lefty 3s ease 700ms forwards;
			position: relative;
			letter-spacing:0;
			opacity:0;
		}
		@keyframes lefty{
			0%{
				opacity:0;
				left:3em;
			}
			50%{
				opacity:1;
				left:0em;
			}
			100%{
				opacity:0;
				left:0em;
			}
		}
		.icon07{
			width:150px;
			height:150px;
			top:0;
			-webkit-top:0;
			animation-duration:2s;
			animation-delay:3.3s;
		}
		@keyframes fadeup {
			from{
				opacity:0;
				top:2em;
			}
			to{
				opacity:1;
				top:0em;
			}
		}
		.explore{
			animation-delay:5s;
			font-size:0.25;
			top:25em;
		}
		/*EXTRA CODE PAGE*/
		.unit-2::-webkit-scrollbar{
			overflow-x:hidden;
		}
		.intro-2 .he2{
			display:none;
		}
		.logo07{
			width:150px;
			height:150px;
			top:0em;
		}
		@keyframes jetup {
			from{
				opacity:100%;
				top:0em;
			}
	
			to{
				opacity:0%;
				top:-1em;
			}
		}
		.unexplore{
			animation-delay:1s;
			font-size:0.25;
			top:25em;
		}
	}

	@media (orientation:portrait) and (min-width:370px) {
		.icon07, .logo07{
			width:175px;
			height:175px;
		}
		.explore, .unexplore{
			font-size:0.50;
		}
		.intro-1 h3{
			font-size:1.8em;
		}
		/*2nd-intro page*/
	}
	@media (orientation:portrait) and (min-width:400px) {    
		.icon07, .logo07{
			width:190px;
			height:190px;
		}
		.explore, .unexplore{
			font-size:0.75;
		}
		.intro-1 h3{
			font-size:2em;
		}
	}